*,
::after,
::before {
    box-sizing: border-box;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: block;
}

.row {
    /* margin-left: -12px;
    margin-right: -12px; */
    display: flex;
    flex-wrap: wrap;
}

.h-100 {
    height: 100%;
}

.col-2-4 {
    width: 20%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.part {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: right;
}

.mt-12px {
    margin-top: 12px;
}

.top-page {
    background-color: #666666;
    margin-top: 12px;
    margin-bottom: 12px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    /* box-shadow: 0px 1px 2px 0px gray; */
    box-sizing: border-box;
    padding: 12px 16px;
}

.top-page.container {
    width: calc(100% - 24px);
}

.top-page.container .wrap {
    margin: 0 12px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-top: auto;
}

.d-flex {
    display: flex;
}

.product-detail-modal {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.795);
    height: 100vh;
    width: 100vw;
    /* display: ; */
    visibility: hidden;
    transition: 0.3s;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
