.purchase-products .table tbody tr {
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px 0px #aaa9a9;
}

.purchase-products .table tbody th,
.purchase-products .table tbody td {
    border: none;
    padding: 12px;
    font-size: 14px;
    background: #fff;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;

}

.purchase-products .table tbody td .img {
    width: 100px;
    height: 80px;
}

.purchase-products .table tbody td .img {
    width: 100px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.purchase-products .table tbody td.quantity {
    width: 10%;
}

.purchase-products .table tbody td.quantity input {
    max-width: 50px;
    height: 26px;
    padding-left: 6px;
}

.purchase-products .table thead th {
    border: none;
    padding: 12px;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.purchase-products .table tbody td .close span {
    font-size: 12px;
    color: #dc3545;
}

.purchase-products button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.color-size {
    margin-top: 6px;
}

.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    margin: 0 3px;
}
