.category-title {
    font-weight: 400;
    font-family: system-ui;
    text-transform: uppercase;
    font-size: 36px;
    /* line-height: 59px; */
    letter-spacing: -0.02em;
    /* text-decoration-line: underline; */
    color: #9C2222;
    border-bottom: solid 2px;
    margin-block-start: unset;
}

.product-lists {
    margin-left: -6px;
    margin-right: -6px;
}

.btn-see-more {
    text-transform: uppercase;
    background: white;
    border: solid 2px #922222;
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    color: #922222;
    font-weight: 500;
    margin: 15px auto;
    border-radius: 3px;
}

.btn-see-more:hover {
    background: #922222;
    color: white;
    cursor: pointer;;
}