

.admin-table {
    width: 100%;
    border: none;
}

table.admin-table {
    border-spacing: inherit;
    box-shadow: 0px 1px 4px 1px gray;
}

.admin-th th {
    padding: 9px 9px 12px 9px;
    font-size: 13px;
    color: white;
    font-weight: 400;
    text-align: left    ;
}

.admin-th {
    background-color: gray;
    /* padding: 6px; */
}

.justify-center {
    display: flex;
    justify-content: center;
}

.pagination-wrap {
    margin-top: 12px;
    margin-bottom: 12px;
}
