.product-detail-modal.show{
    visibility: visible;
  }
  .product-detail-modal .container {
    margin-top: 100vh;
    transition: 0.4s;
  }
  .product-detail-modal .animation {
    margin-top: 0;
  }
  .product-detail-action.disable {
    pointer-events: none;
  }
  .product-detail-action {
    user-select: none;
  }
.product-color-name, .product-discount-name, .product-description {
    padding: 20px 0;
}
.product-description textarea{
    margin-top: 10px;
}
.product-image {
    overflow: hidden;
}
.product-image img {
    width: auto;
    height: 100%;
}
.add-product {
  display: flex;
  align-content: center;
}
.fa-plus {
  align-content: center;
}
