.cart-frame {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.795);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* display: none; */
    visibility: hidden;
    transition: 0.4s;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.cart-check:checked+.cart-frame {
    /* display: block; */
    visibility: visible;
}

.cart {
    position: relative;
    margin-left: auto;
    background: white;
    min-height: 100vh !important;
    width: 400px;
    padding: 1px 0px;
    transform: translateX(100%);
    transition: 0.4s;
}

.cart-check:checked+.cart-frame .cart {
    /* display: block; */
    transform: translateX(0%);
}

.cart-wrap {
    position: absolute;
    margin: 12px 36px 12px 24px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 26px);
    width: calc(100% - 36px - 24px);
}

.cart-top {
    margin-bottom: 2px;
    font-size: 22px;
}

.cart-title {
    font-size: 20px;
    font-weight: 500;
}

label.cart-close {
    /* margin-right: 6px; */
    /* font-size: 22px; */
    color: white;
    text-shadow: 1px 1px 3px brown;
    ;
    cursor: pointer;
}

label.cart-close:hover {
    text-shadow: 1px 1px 5px brown;
    ;

}

.cart-items {
    /* background-color: antiquewhite; */
    /* margin-right: 12px; */
    margin-bottom: 6px;
    margin-top: 6px;
}

.cart-bottom {
    margin-top: auto;
}

.cart-bottom a {
    text-decoration: none;
}

.cart-total-price {
    margin-top: 24px;
    font-size: 17px;
}

.cart-total-price span {
    font-weight: 500;
}

.btn-cart {
    margin-top: 12px;
    background-color: rgb(32, 32, 32);
    color: white;
    height: 34px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    border-radius: 60px;
}

.btn-cart.disable {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
    /* poi */
}
